*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 20px;
	color: #333;
	font-family: "宋体","bodoni mt";
}
.back{
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../img/Nview.jpg) no-repeat top center;
	background-size: 100vw 100vh;
}
.header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: fixed;
	top: 0;
	z-index: 99;
	background: #20344c;
	color: white;
	font-weight: 900;
	text-align: center;
	z-index: 999;
}
.header img{
	width: 20px;
	position: absolute;
	left: 20px;
	top: 10px;
}
.mytest{
	list-style: none;
	padding: 0px 10px;
	margin-top: 50px;
	color: #333;
}
.mytest li{
	width: 33%;
	height: 130px;
	float: left;
	text-align: center;
	margin-top: 20px;
}
.mytest img{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	animation: mytestImg 6s linear infinite;
}
@keyframes mytestImg{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
.content{
	width: 80%;
	margin: 50px auto 50px;
	background: white;
	border-radius: 10px;
	padding: 4% 2%;
	box-shadow: 0px 0px 10px 6px #bbb;
	display: none;
}
.headContent{
	position: relative;
}
.headTitle{
	text-align: center;
	color: #39a4db;
}
.er{
	width: 80px;
	position: absolute;
	right: 10px;
	top: -25px;
}
.text{
	text-indent: 40px;
	margin-top: 10px;
}
.xuxian{
	margin: 30px 0px 10px;
	border: dashed 1px #ccc;
}
.topic{
	margin-top: 10px;
	border: solid 1px white;
}
.topic hr{
	display: none;
}
.timu{
	font-size: 22px;
	padding: 4px;
	font-weight: 600;
}
.xuanze{
	list-style: none;
	cursor: pointer;
}
.xuanze li{
	text-indent: 22px;
	margin: 4px 0px ;
}
.xuanze label,.xuanze input{
	cursor: pointer;
	word-break: break-all;	
}
.xuanze label:hover{
	background: green;
	color: white;
}
.bixuan{
	color: red;
	text-indent: 22px;
	margin: 4px 0px;
	display: none;
}
#btn{
	width: 100px;
	border: solid 1px #999;
	font-weight: 600;
	color: #39a4db;
	text-align: center;
	display: block;
	padding: 4px 0px 5px;
	margin: 20px auto 0px;
	cursor: pointer;
}
.zhezhao{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #333;
	opacity: 0.5;
	display: none;
}
.loading{
	display: none;
	width: 400px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	text-align: center;
}
.loading img{
	width: 100%;
}
.loading p{
	position: relative;
	top: -40px;
}
.myscore{
	width: 380px;
	height: 180px;
	background: white;
	padding: 10px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	border-radius: 10px;
	animation: wealert 2s;
	display: none;
}
.myscore img{
	width: 100px;
}
.errtimu{
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.bttitle,.unfinished,.myscore2{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: white;
	background: #20344c;
	position: fixed;
	bottom: 0%;
	left: 0%;
	display: none;
}
.unfinished{
	color: red;
	z-index: 99;
}
/*兼容移动端*/
@media screen and (max-width: 415px){
	.er{
		display: none;
	}
	.myscore{
		width: 70%;
		margin-left: -10px;
		left: 15%;
	}
	.back{
		background:url(../img/b3.jpg) no-repeat top center;
		background-size: 100vw 100vh;
	}
	.mytest{
		color: #eae3e3;
	}
}