*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 20px;
	color: #333;
	font-family: "宋体","bodoni mt";
	background: url(../img/Nview.jpg) no-repeat fixed top center;
	background-size: 100vw 100vh;
	overflow: hidden;
}
.content{
	width: 80%;
	margin: 50px auto 50px;
	background: white;
	border-radius: 10px;
	padding: 4% 2%;
	box-shadow: 0px 0px 10px 6px #bbb;
	display: none;
}
.headContent{
	position: relative;
}
.headTitle{
	text-align: center;
	color: #39a4db;
}
.er{
	width: 32px;
	position: absolute;
	right: 10px;
	top: 8px;
}
.text{
	text-indent: 40px;
	margin-top: 10px;
}
.xuxian{
	margin: 30px 0px 10px;
	border: dashed 1px #ccc;
}
.topic{
	margin-top: 10px;
	border: solid 1px white;
}
.topic hr{
	display: none;
}
.timu{
	font-size: 22px;
	padding: 4px;
	font-weight: 600;
}
.xuanze{
	list-style: none;
}
.xuanze li{
	text-indent: 22px;
	margin: 4px 0px ;
}
.bixuan{
	color: red;
	text-indent: 22px;
	margin: 4px 0px;
	display: none;
}
#btn{
	width: 100px;
	border: solid 1px #999;
	font-weight: 600;
	color: #39a4db;
	text-align: center;
	display: block;
	padding: 4px 0px 5px;
	margin: 20px auto 0px;
}
.zhezhao{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #333;
	opacity: 0.5;
}
.myalert{
	width: 400px;
	height: 200px;
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	border-radius: 10px;
	animation: wealert 3s;
}
@keyframes wealert{
	from{margin-top: -500px;}
	to{margin-top: -200px;}
}
.myalert h1{
	font-size: 30px;
	font-weight: 500px;
	text-align: center;
	margin: 10px 0px;
}
.myalert p{
	color: #0000FF;
	text-indent: 16px;
	margin-bottom: 10px;	
}
.myalert p:hover{
	text-decoration: underline;
	cursor: pointer;
}
.loading{
	display: none;
	width: 400px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	text-align: center;
}
.loading img{
	width: 100%;
}
.loading p{
	position: relative;
	top: -40px;
}
